.countries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 2rem;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
form div:first-of-type {
  background-color: var(--elements);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: clamp(128px, 90%, 284px);
  display: flex;
  justify-content: space-between;
  align-content: center;
}
form input[type="text"]:first-of-type {
  width: max-content;
  color: var(--text);
  background-color: transparent;
  border: none;
  outline: none;
  width: calc(100% - 0.5rem - 20px);
  border-bottom: 2px solid transparent;
  padding: 0.25rem 0;
  border-radius: 2px;
}
form input[type="text"]:focus:first-of-type {
  outline: 2px solid var(--input);
  outline-offset: 0.2rem;
}
form label:first-of-type {
  height: 20px;
  align-self: center;
  display: block;
}

.filter-regions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 0.75rem;
  margin-bottom: 2em;
  padding: 0.5em;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.filter-regions::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.filter-region {
  display: block;
  padding: 0.5em 0.75em;
  color: var(--text);
  border-radius: 4px;
  background-color: var(--elements);
  text-decoration: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}
.filter-region:hover, .filter-region:focus {
  outline: 2px dashed var(--text);
  outline-offset: 0.1em;
}
.filter-active {
  background-color: #ff7f00;
  color: var(--elements);
}